<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
th, td {
	padding: 10px 30px;
	text-align: center;
}
th {
	background: #000;
	color: #fff;
}
</style>
<script type="text/javascript">
	function fn_mod_act(){
		document.frm.submit();
	}
</script>
</head>
<body>
	<h1>EMP_UPDATE</h1>
	<form name="frm" action="emp_mod_act" method="post">
	{% csrf_token %}
		<table border="1">
			<tr>
				<th>사번</th>
				<td> <input type="text" name="e_id" value="{{vo.e_id}}"> </td>
			</tr>
			<tr>
				<th>이름</th>
				<td> <input type="text" name="e_name" value="{{vo.e_name}}"> </td>
			</tr>
			<tr>
				<th>성별</th>
				<td> <input type="text" name="gen" value="{{vo.gen}}"> </td>
			</tr>
			<tr>
				<th>주소</th>
				<td> <input type="text" name="addr" value="{{vo.addr}}"> </td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="button" value="저장" onclick="fn_mod_act()"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>