<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
th, td {
	padding: 10px 30px;
	text-align: center;
}
th {
	background: #000;
	color: #fff;
}
</style>
<script type="text/javascript">
function fn_mod(){
	location.href = "mem_mod?m_id={{vo.m_id}}"
}
function fn_del(){
	var flag = confirm("한번 지워진 데이터는 복구가 불가능합니다. 정말 지우시겠습니까?");
	if(!flag){
		return;
	}
	document.frm.submit();
}
</script>
</head>
<body>
	<h1>MEM_DETAIL</h1>
	<form action="mem_del_act" method="post" name="frm">
	{% csrf_token %}
	<input type="hidden" name="m_id" value="{{vo.m_id}}">
	<table border="1">
		<tr>
			<th>회원번호</th>
			<td>{{vo.m_id}}</td>
		</tr>
		<tr>
			<th>이름</th>
			<td>{{vo.m_name}}</td>
		</tr>
		<tr>
			<th>연락처</th>
			<td>{{vo.tel}}</td>
		</tr>
		<tr>
			<th>이메일</th>
			<td>{{vo.email}}</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="수정" onclick="fn_mod()"/>
				<input type="button" value="삭제" onclick="fn_del()"/>
			</td>
		</tr>
	</table>
	</form>
</body>
</html>