<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
th, td {
	padding: 10px 30px;
	text-align: center;
}
th {
	background: #000;
	color: #fff;
}
</style>
<script type="text/javascript">
	function fn_add(){
		location.href = "mem_add";
	}
</script>
</head>
<body>
	<h1>MEM LIST</h1>	

	<table border="1">
		<tr>
			<th>회원번호</th>
			<th>이름</th>
			<th>연락처</th>
			<th>이메일</th>
		</tr>
		{% for i in list%}
		<tr>
			<td><a href="mem_detail?m_id={{ i.m_id }}">{{ i.m_id }}</a></td>
			<td>{{ i.m_name }}</td>
			<td>{{ i.tel }}</td>
			<td>{{ i.email }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="4">
				<input type="button" value="추가" onclick="fn_add()">
			</td>
		</tr>
	</table>
</body>
</html>